<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myreactappbackendapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/29a8e8f2-a165-474b-a0d0-d788fcfd6361/resourceGroups/myreactappbackendapi/providers/Microsoft.Web/sites/myreactappbackendapi</ResourceId>
    <ApiResourceId>/subscriptions/29a8e8f2-a165-474b-a0d0-d788fcfd6361/resourceGroups/myreactappbackendapi/providers/Microsoft.ApiManagement/service/myreactappapimanagementservice/apis/myreactappapi</ApiResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishUrl>https://myreactappbackendapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>